.navholder {
  left: 10px;
}
.navholder img {
  height: 200px;
  width: 200px;
}
.navholder .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
}
.bars {
  display: none;
}

.bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: black;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.bars.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 50px;
  overflow: hidden;
  margin-left: -10px;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: height 0.4s, opacity 0.4s ease-in;
  transition: height 0.4s, opacity 0.4s ease-in;
}
.links img {
  height: 28px;
  width: 28px;
}

.links a {
  color: white;
  text-decoration: none;
}

.links.active {
  height: 100vh;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .bars {
    display: block;
  }

  .links {
    height: 0px;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .image-holder .view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.images .comp {
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  height: 350px;
  width: 1000px;
  margin-left: 15px;
}
.images .comp .button-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding: 10px;
}
.images .comp .button-holder .button {
  background-color: orangered;
  border-radius: 35px;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.images .comp .button-holder .view {
  display: none;
}
.images .comp .button-holder:hover .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.images .comp .image-holder {
  height: 200px;
  width: 270px;
  background-image: url(../images/drumKit1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.images .comp .image-holder .button {
  background-color: orangered;
  border-radius: 35px;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.images .comp .image-holder .view {
  display: none;
}
.images .comp .image-holder:hover .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.images .comp p {
  text-align: center;
  margin-left: 450px;
  margin-top: -175px;
}
.images .comp img {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}

@media screen and (max-width: 960px) {
  .image-holder .view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: royalblue;
  }

  .button-holder .view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}